**Q1:** What are data structures, and why are they important?

- Data structures are specialized formats for organizing, processing, and storing data. They define the way data is arranged in memory so that it can be accessed and manipulated efficiently. Different types of data structures are used based on the needs of a specific application, allowing for efficient data storage and retrieval.



*   Arrays
*   Lists
*   Stacks
*   Queues
*   Trees
*   Graphs
*   Hash Tables
*   Sets

- Importance of Data Structures
*   Efficiency in Data Operations
*   Optimizing Space and Time Complexity
*   Problem-Solving and Algorithms
*   Real-World Applications
*   Scalability

**Q2:** Explain the difference between mutable and immutable data types with examples.

1. Mutable vs Immutable Data Types:
    Mutable data types are those whose values can be changed (modified) after the object is created. The content of the object can be altered, but the identity of the object remains the same.

  Examples of Mutable Data Types:
  *   Lists

In [ ]:
my_list = [1, 2, 3]
print(my_list)

# Modifying an element in the list
my_list[1] = 10
print(my_list)

# Adding a new element
my_list.append(4)
print(my_list)



*   Dictionaries

In [ ]:


my_dict = {"apple": 3, "banana": 5}
print(my_dict)

# Modifying an existing value
my_dict["apple"] = 10
print(my_dict)

# Adding a new key-value pair
my_dict["cherry"] = 7
print(my_dict)

2. Immutable Data Types:
    Immutable data types are those whose values cannot be changed once they are created. Any modification to an immutable object results in the creation of a new object, while the original object remains unchanged.

  - Examples of Immutable Data Types:
    *   Tuples

In [1]:
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3)

# Trying to modify an element will raise an error
# my_tuple[1] = 10  # Raises TypeError

# However, you can create a new tuple by concatenating or reassigning
new_tuple = my_tuple + (4,)
print(new_tuple)

(1, 2, 3)
(1, 2, 3, 4)



    *   Strings

In [2]:
my_string = "Hey"
print(my_string)  # Output: hello

# Trying to modify a character will raise an error
# my_string[0] = "H"  # Raises TypeError

# But you can create a new string by concatenating
new_string = "H" + my_string[1:]
print(new_string)

Hey
Hey

**Q3:** What are the main differences between lists and tuples in Python?

- Lists:

Mutable: Can be changed (add, remove, modify elements).

Syntax: []

Methods: More methods like append(), remove(), etc.

Use: When data needs to change (e.g., dynamic collections).

- Tuples:

Immutable: Cannot be changed once created.

Syntax: ()

Methods: Fewer methods, mainly count() and index().

Use: When data should remain constant (e.g., fixed values, dictionary keys).

***Key Difference:***
Lists are for changeable data, while tuples are for fixed, constant data.

**Q4:** Describe how dictionaries store data.

-  Structure: Dictionaries store data as key-value pairs.

- Keys: Must be unique and immutable (e.g., strings, numbers).

- Values: Can be any data type (mutable or immutable).

- Hashing: Keys are hashed to allow fast lookups and access (average O(1) time complexity).

- Mutable: You can add, modify, or remove key-value pairs.

- Unordered: Keys are not stored in any specific order (though insertion order is maintained in Python 3.7+).

In [3]:
my_dict = {"name": "Alice", "age": 30}

**Q5:** Why might you use a set instead of a list in Python?

- Uniqueness: Sets automatically store only unique elements, eliminating duplicates.

- Faster Lookup: Sets provide faster membership tests (e.g., checking if an element exists) compared to lists due to their hashing mechanism.

- Mathematical Operations: Sets support set operations like union, intersection, and difference, which can be useful for certain algorithms.

- Order: Sets are unordered, meaning the order of elements is not preserved, but this can be useful when order doesn't matter.



*   When you need unique elements.
*   When fast membership checks are important.
*   When performing set operations like union or intersection.

**Q6:** What is a string in Python, and how is it different from a list?

- String in Python:
A string is a sequence of characters enclosed in single (') or double (") quotes.

Example: "Hello, World!"

Difference Between a String and a List:
Mutability:

String: Immutable — You cannot modify individual characters in a string.

List: Mutable — You can modify, add, or remove elements in a list.

Data Type:

String: Holds a sequence of characters (text).

List: Can hold a mix of different data types (e.g., integers, strings, objects).

- Operations:

String: Supports operations like slicing and concatenation, but no modifications.

List: Supports operations like adding/removing items, sorting, and more.

In [ ]:
# String
my_string = "Hey"

# List
my_list = [2, 4, 6]

**Q7:** How do tuples ensure data integrity in Python?

- Immutability:

Once created, tuples cannot be modified. This means that the data inside a tuple cannot be changed, ensuring that the data remains consistent and unaltered.

Hashable:

Because tuples are immutable, they can be used as keys in dictionaries and elements in sets, which requires hashability. This prevents accidental modification of data.

- Data Integrity:

The immutability of tuples ensures that their contents stay intact throughout the program, preventing accidental changes to critical data.

In [8]:
my_tuple = (1, 2, 3)
# You cannot do this:
my_tuple[1] = 10  # This will raise an error.

**Q8:** What is a hash table, and how does it relate to dictionaries in Python?

- Hash Table:
A hash table is a data structure that stores key-value pairs using a hash function to compute an index (hash) where the value associated with the key is stored.

It allows for fast retrieval of values based on keys (average O(1) time complexity).

- Relation to Python Dictionaries:
Python dictionaries are implemented using hash tables.

When you use a key in a dictionary, Python computes its hash to quickly find and store the corresponding value.

The keys in dictionaries must be hashable (e.g., immutable types like strings or tuples).

In [ ]:
my_dict = {"name": "Joey", "age": 31}

**Q9:** Can lists contain different data types in Python?

- Lists are heterogeneous, meaning they can hold elements of different types (e.g., integers, strings, floats, etc.).

In [ ]:
my_list = [1, "Hello", 3.14, True]

**Q10:** Explain why strings are immutable in Python.

- Strings are immutable in Python to ensure:

    Data integrity: Once created, the content can't be changed.

    Efficiency: Immutable objects are easier to optimize and cache.

    Safety: Prevents unexpected changes when shared across code.

In [ ]:
text = "hello"

**Q11:** What advantages do dictionaries offer over lists for certain tasks?

- Advantages of Dictionaries over Lists (In Short):
Faster lookups: Access values by keys in O(1) time.

Key-value pairing: Ideal for structured data (e.g., names and scores).

Improved readability: Keys make data more meaningful than index positions.

In [ ]:
# Dictionary
friends = {"name": "Joey", "age": 31}

# List (less clear)
friends_list = ["Joey", 31]

**Q12:** Describe a scenario where using a tuple would be preferable over a list.

-  A tuple is preferable when you want to store fixed, read-only data that shouldn't be changed during the program's execution.

dob = (1990, 5, 12)


*   A date of birth doesn’t change, so using a tuple ensures data integrity.

**Q13:** How do sets handle duplicate values in Python?

- Sets automatically remove duplicates.
They only store unique elements — if you add duplicates, they are ignored.

In [9]:
my_set = {1, 2, 2, 3, 3, 3}
print(my_set)

{1, 2, 3}

**Q14:** How does the “in” keyword work differently for lists and dictionaries?

- In lists: in checks for a value.
- In dictionaries: in checks for a key.

In [ ]:
# in Lists
my_list = [1, 2, 3]
print(2 in my_list)

# in Dictionaries
my_dict = {"a": 1, "b": 2}
print("a" in my_dict)     # True
print(1 in my_dict)

**Q15:** Can you modify the elements of a tuple? Explain why or why not.

- No, you cannot modify the elements of a tuple in Python.

- Why?
Tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed.

This design ensures data integrity, especially for constant or fixed data.

**Q16:** What is a nested dictionary, and give an example of its use case?

 - A nested dictionary is a dictionary inside another dictionary.
 - It allows you to organize complex or hierarchical data.

In [10]:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

print(students["Alice"]["grade"])

A

**Q17:** Describe the time complexity of accessing elements in a dictionary.

    - Average case: O(1) (constant time)
Accessing a value by key is very fast due to the underlying hash table implementation.

    - Worst case: O(n)
Rare, occurs when many keys have hash collisions, causing lookups to degrade to a linear search.

**Q18:** In what situations are lists preferred over dictionaries?

- Ordered data: When you need to maintain the order of items.

- Sequential access: When you're looping over data by index or position.

- Simple collections: When storing just values, not key-value pairs.

- Memory efficiency: Lists use less memory than dictionaries for small datasets.

In [11]:
fruits = ["apple", "banana", "cherry"]

**Q19:** Why are dictionaries considered unordered, and how does that affect data retrieval?

- Internal storage: In earlier versions of Python (before 3.7), dictionaries didn't maintain any specific order of keys and values.

- Hashing mechanism: Dictionaries store key-value pairs based on their hash values, which doesn't guarantee any order.

- Effect on Data Retrieval:
    - No order guarantee
    - Fast Access

**Q20:** Explain the difference between a list and a dictionary in terms of data retrieval.

- List:

  Indexed by position: Data is accessed via its index (numeric position).

  Access time: Retrieving an element by index is O(1), but searching for a value is O(n) because you may need to loop through the entire list.

In [ ]:
my_list = [10, 20, 30]
print(my_list[1])

- Dictionary:

  Indexed by key: Data is accessed via a key (not an index).

  Access time: Retrieving a value by key is O(1) on average, thanks to the underlying hash table mechanism.

In [ ]:
my_dict = {"a": 10, "b": 20}
print(my_dict["a"])

**Question 1**
Write a code to create a string with your name and print it.

In [ ]:
my_name = "Tanuj Singh"
print(f"My Name is {my_name}")

My Name is Tanuj Singh

**Question 2**
Write a code to find the length of the string "Hello World"

In [ ]:
word = "Hello World"
length = len(word)
print(f"Length of string : {length}")

Length of string : 11

**Question 3**
Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string = "Python Programming"
slicing = string[:3]
print(f"The first 3 characters : {slicing} ")

The first 3 characters : Pyt

**Question 4**
Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
Caps = string.upper()
print(f"Uppercase of string : {Caps}")

Uppercase of string : HELLO

**Question 5**
Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
sentence = "I like apple."
replace_word = sentence.replace("apple", "orange")
print(replace_word)

I like orange.

**Question 6**
Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
nos = list(range(1, 6))
print(f"List of Numbers : {nos}")

List of Numbers : [1, 2, 3, 4, 5]

**Question 7**
Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
number_list = [1, 2, 3, 4]
number_list.append(10)
print(f"List Updated : {number_list}")

List Updated : [1, 2, 3, 4, 10]

**Question 8**
Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
number_list = [1, 2, 3, 4]
number_list.remove(3)
print(f"List Updated  : {number_list}")

List Updated  : [1, 2, 4]

**Question 9**
Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letter =  ['a', 'b', 'c', 'd']
second_element = letter[1]
print(f"second element : {second_element}")

second element : b

**Question 10**
Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
no_list = [10, 20, 30, 40, 50]
no_list.reverse()
print(f"Reversed List : {no_list}")

Reversed List : [50, 40, 30, 20, 10]

**Question 11**
Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tup = (100, 200, 300)
print(tup)
print(type(tup))

(100, 200, 300)
<class 'tuple'>

**Question 12**
Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors =  ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]

print(f"he second-to-last element of the tuple : {second_last}")

he second-to-last element of the tuple : blue

**Question 13**
Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers =  (10, 20, 5, 15)
minimum = min(numbers)

print(f"Minimum Number : {minimum}")

Minimum Number : 5

**Question 14**
Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals =  ('dog', 'cat', 'rabbit')
cat_index = animals.index("cat")
print(f" index of the element 'cat' : {cat_index} ")

 index of the element 'cat' : 1

**Question 15**
Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("mango", "banana", "watermelon", "kiwi", "orange", "grapes")

if "kiwi" in fruits:
  print("Kiwi in the tuple.")
else:
  print("Kiwi not in the tuple.")

Kiwi in the tuple.

**Question 16**
Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
elements = {'a', 'b', 'c'}
print(f"set : {elements}")

set : {'c', 'b', 'a'}

**Question 17**
Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

**Question 18**
 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

**Question 19**
Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1.union(set2)

print(f"union of 2 sets : {union} ")

union of 2 sets : {1, 2, 3, 4, 5}

**Question 20**
Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)

print(f"Intersection of 2 sets : {intersection} ")

Intersection of 2 sets : {2, 3}

**Question 21**
Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
info = {
    "name" : "Tanuj",
    "age" : 29,
    "city" : "Delhi"

}

print(f"Dictionary : {info}")

Dictionary : {'name': 'Tanuj', 'age': 29, 'city': 'Delhi'}

**Question 22**
Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
info = {
    "name" : "John",
    "age" : 25
}

info.update({"Country" : "USA"})

print(f"Dictionary : {info}")

Dictionary : {'name': 'John', 'age': 25, 'Country': 'USA'}

**Question 23**
Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
info = {
    "name" : "Alice",
    "age" : 30
}

info.get("name")

'Alice'

**Question 24**
Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person =  {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}

person.pop("age")

print(f"updated dictionary : {person}")

updated dictionary : {'name': 'Bob', 'city': 'New York'}

**Question 25**
Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
info = {
    "name" : "Alice",
    "city" : "Paris"
}

if "city" in info:
  print("Key 'City' exits in the dictionary.")
else:
  print("Key 'City' Doesn't exits in the dictionary.")

Key 'City' exits in the dictionary.

**Question 26**
Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {
    'name': 'Alice',
    'age': 30,
    'city': 'Paris'
}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

**Question 27**
Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

In [ ]:
numbers = [18, 7, 98, 45, 63]
numbers.sort()

print("Sorted numbers:", numbers)

Sorted numbers: [7, 18, 45, 63, 98]

**Question 28**
Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = [1, 2, 'apple', 'banana', 5]
my_list[3]

'banana'

**Question 29**
Write a code to combine two dictionaries into one and print the result.

In [ ]:
info1 = {
    "name" : "Alice",
    "city" : "Paris"
}

info2 =  {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}

combine_info = info1 | info2

print(f"Combined Dictionary : {combine_info}")

Combined Dictionary : {'name': 'Bob', 'city': 'New York', 'age': 22}

**Question 30**
Write a code to convert a list of strings into a set.

In [ ]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]
print(f"Fruits : {set(fruits)}")

Fruits : {'cherry', 'banana', 'apple'}